button:not( nav>button.menu-toggle ),
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .4 ), o moz webkit );
	@include prefix( transition, all .2s ease-in-out, o moz webkit );
	background: #561223;
	border-radius: 10px;
	font-family: $font__opsanlight;
	color: #fff;
	padding: 8px 15px;
	border: none;
	outline: none;

	&:hover:not( .menu-toggle ), &:focus:not( .menu-toggle ), &:active:not( .menu-toggle ) {
		background: $color__primary;
		color: $color__link-hover;
	}
}

.btn.btn-lg, .submit {
	@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .4 ), o moz webkit );
	@include prefix( transition, all .2s ease-in-out, o moz webkit );
	background: #561223;
	border-radius: 10px;
	font-family: $font__opsanlight;
	border: none;
	outline: none;
	color: #fff;
	padding: 8px 15px;

	&:hover, &:focus, &:active {
		background: $color__primary;
		color: $color__link-hover;
	}
}
