.btn.btn-lg, .submit {
	@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .4 ), o moz webkit );
	@include prefix( transition, all .2s ease-in-out, o moz webkit );
	background: #561223;
	border-radius: 10px;
	font-family: $font__opsanlight;
	color: #fff;
	padding: 8px 15px;
	@include font-size(.8);
	line-height: 1;
	border: none;
	outline: none;

	&:hover:not( .menu-toggle ), &:focus:not( .menu-toggle ), &:active:not( .menu-toggle ) {
		background: $color__primary;
		color: $color__link-hover;
	}

	@include media-breakpoint-up( sm ) {
		@include font-size(1);
	}

	@include media-breakpoint-up( md ) {
		@include font-size(1.1);
	}

	@include media-breakpoint-up( lg ) {
		@include font-size(1.25);
	}

}
