input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .4 ), o moz webkit );
	border: 1px solid $color__border-input;
	background: #531424;
	color: #ffffff;
	padding: 8px;
	margin: 0 0 1rem;
	font-family: $font__opsanlight;
	border-radius: 10px;
	outline: none;
}

textarea {
	width: 100%;
}
