a {
	@include prefix( transition, all .2s ease-in-out, webkit moz o );
	color: #222222;

	&:visited {
		color: #222222;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
