.main-navigation {
	display: block;
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	top: -50px;
	@include prefix( transition, all .2s ease-in-out, o moz webkit );

	/**
	 * Hang-a-bur Menu
	 */
	button {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 0;
		height: 40px;
		background: transparent;
		border: none;
		z-index: 100;

		.hang-a-bur {
			position: relative;
			display: block;
			width: 26px;
			height: 4px;
			margin: 2px 0;
			opacity: 1;
			background: #fff;
			border-radius: 2px;
			@include prefix( box-shadow, 0 1px 6px rgba(0, 0, 0, 0.7), o moz webkit );
			@include prefix( transition, all 0.2s ease-in-out, webkit moz o);

			&-top {
				top: 0;
			}

			&-bottom {
				bottom: 0;
			}
		}

		&[aria-expanded="true"] {

			.hang-a-bur-top {
				top: 0.35rem;
				@include prefix( transform, rotate(225deg), webkit moz o );
			}

			.hang-a-bur-mid {
				opacity: 0;
			}

			.hang-a-bur-bottom {
				bottom: .4rem;
				@include prefix( transform, rotate(-225deg), webkit moz o );
			}
		}

		&:active,
		&:focus {
			outline: none;
		}
	}
	/**
	 * End Hang-a-bur Menu
	 */

	.menu-main-menu-container {
		margin-top: 10px;
	}

	ul {
		display: none;
		list-style: none;
		background: #999;
		margin: 0;
		min-height: 0;
		padding-left: 0;
		clear: both;
		border-right: 1px solid rgba( #000, .6 );
		border-bottom: 1px solid rgba( #000, .6 );
		border-left: 1px solid rgba( #000, .6 );
		@include prefix( transition, all .2s ease-in-out, o moz webkit );
		@include prefix( box-shadow, 0 1px 6px rgba(0, 0, 0, 0.5), o moz webkit );

		ul {
			@include prefix( box-shadow, 0 1px 6px rgba(0, 0, 0, 0.5), o moz webkit );
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					top: 100%;
					left: 15%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: none;
		position: relative;
		@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .5), webkit moz o );
		@include prefix( transition, all .2s ease-in-out, o moz webkit );

		&:not( :last-child ) {
			border-bottom: 1px solid #fff;
		}

		&.menu-item-has-children {

			&:before {
				content: "\f078";
				font: normal normal normal 14px/1 FontAwesome;
				display: inline-block;
				position: absolute;
				right: 0;
				top: 0;
				border-left: 1px solid #fff;
				height: 100%;
				width: 40px;
				padding: 8px 13px;
				color: #fff;
				@include prefix( text-shadow, 1px 1px 2px rgba( #000, .8), webkit moz o );
			}
		}

		&:hover > a,
		&.focus > a {
			background: #bbb;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .6), webkit moz o );
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 4px 10px;
		@include prefix( text-shadow, 1px 1px 2px rgba( #000, .9), webkit moz o );

	}

	.current_page_item > a,
	.current-menu-item > a {
		background: #bbb;
		@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .8), webkit moz o );
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	min-height: 25px;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/**
 * sub-menu
 */
#masthead .cart-icon {
	position: absolute;
	text-align: center;
	height: 52px;
	bottom: 15px;
  	right: 8px;
  	width: 80px;
  	color: #fff;
  	line-height: 1.5;
  	@include prefix( text-shadow, 1px 1px 2px rgba( #000, .9), o moz webkit );
  	@include prefix( transition, all .2s ease-in-out, o moz webkit );

  	i {
			@include prefix( transition, all .2s ease-in-out, o moz webkit );
  	}

  	a:hover {
  		color: #888;

  		i {
  			color: #888;
  		}
  	}

  	.separator {
  		display: none;
  	}

  	#login-btn {
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		width: 75px;

  		i {
  			padding-right: 8px;
  			line-height: 1.5; 
  		}
  	}

}
/**
 * End sub-menu
 */

@include media-breakpoint-up( md ) {
	.main-navigation {
		top: calc( 100% - 50px );
	}
}

@include media-breakpoint-up( lg ) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: flex;
		align-items: center;
  		justify-content: space-evenly;
  		top: 0;

  		.menu-main-menu-container {
  			margin-top: 10px;
  			width: 100%;
  		}

		ul {
			display: flex;
			font-family: $font__opsanbold;
			border: none;
			background: none;
			@include prefix( box-shadow, none, o moz webkit );

			ul {
				@include prefix( box-shadow, none, o moz webkit );
				background: #999;
				display: block;
			}
		}

		li {
			border: none;
			@include prefix( box-shadow, none, o moz webkit );
			&:not( :last-child ) {
				border: none;
			}

			&.menu-item-has-children {

				&:before {
					display: none;
				}
			}
		}

	} 

	#masthead .cart-icon {
  		position: absolute;
  		display: flex;
  		align-items: center;
  		justify-content: space-around;
		height: 35px;
	  	bottom: calc(100% - 50px);
  	  	width: 150px;
  	  	color: #fff;
  	  	line-height: 1.5;
  	  	@include prefix( text-shadow, 1px 1px 2px rgba( #000, .9), o moz webkit );

  	  	i {
  				@include prefix( transition, all .2s ease-in-out, o moz webkit );
  	  	}

  	  	a:hover {
  	  		color: #888;

  	  		i {
  	  			color: #888;
  	  		}
  	  	}

  	  	.separator {
  	  		display: inline-block;
  	  	}

  	  	#login-btn {
  	  		display: flex;
  	  		align-items: center;
  	  		justify-content: center;
  	  		width: 75px;

  	  		i {
  	  			padding-right: 8px;
  	  			line-height: 1.5; 
  	  		}
  	  	}
	}
}

@include media-breakpoint-up( xxl ) {
	#masthead .cart-icon {
  		position: absolute;
  		display: flex;
  		align-items: center;
  		justify-content: space-around;
		height: 35px;
	  	right: -150px;
	  	bottom: 15px;
  	  	width: 150px;
  	  	color: #fff;
  	  	line-height: 1.5;
  	  	@include prefix( text-shadow, 1px 1px 2px rgba( #000, .9), o moz webkit );

  	  	i {
  				@include prefix( transition, all .2s ease-in-out, o moz webkit );
  	  	}

  	  	a:hover {
  	  		color: #888;

  	  		i {
  	  			color: #888;
  	  		}
  	  	}

  	  	.separator {
  	  		display: inline-block;
  	  	}

  	  	#login-btn {
  	  		display: flex;
  	  		align-items: center;
  	  		justify-content: center;
  	  		width: 75px;

  	  		i {
  	  			padding-right: 8px;
  	  			line-height: 1.5; 
  	  		}
  	  	}
	}
}