.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, 0), webkit moz o );

		&:hover > a,
		&.focus > a {
			background: #bbb;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .6), webkit moz o );
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 4px 10px;
		@include prefix( text-shadow, 1px 1px 2px rgba( #000, .9), webkit moz o );

	}

	.current_page_item > a,
	.current-menu-item > a {
		background: #bbb;
		@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .8), webkit moz o );
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		font-family: $font__opsanbold;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.cart-icon {
	position: absolute;
  right: 10%;
}

#login-btn {
	padding-left: 10px;
}
