.sticky {
	display: block;
}

#page {
	position: relative;
	min-height: 100%;
}

/**
 * Header 
 */

#masthead {
	position: relative;
	height: 140px;
	background: url('./assets/img/header-bg.jpg');
	z-index: 100;

	> .row {
		margin-top: 15px;
	}

	a, i {
		color: #fff;
	}
	
	.custom-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		.site-logo {
			max-width: 325px;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px;
			background: #fff;                                                                               
			border-radius: 50%;
			height: 150px;
			width: 150px;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .9), webkit moz o );
		}

		a {
			display: inline-block;
		}
	}

	.nav-row {
		min-height: 3rem;

		> .col {
			align-self: flex-end;
		}
	}

	#primary-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		@include font-size(1);
	}

	@media screen and ( min-width: 992px ) {
		display: flex;
		align-items:flex-end;

		.menu-bar {
			margin-bottom: 15px;

			.search-input-wrap {
				display: inline-flex;
				width: 100%;
				input[type="text"] {
					background: #edf1f5;
					border: 1px solid #666666;
					border-radius: 0;
					width: 100%;
				}

				#search-btn {
					color: #fff;
					background: #333333;
					padding: 8px;
					border: 1px solid #666666;
				}
			}

		}

		.col-2 {
			height: 34px;
		}

	}
}

/**
 * End Header
 */

#backdrop {
	position: absolute;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70%;
}

#primary {
	margin-top: 50px;
	position: relative;
	min-height: 425px;

	/**
	 * Slider
	 */
	.wonka-slider-wrap {
		position: relative;
		display: flex;
		justify-content: center;

		.control-btn {
			@include font-size(2.5);
			opacity: .3;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;

			&.left-control {
				left: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( -90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 12px 6px 6px;
				}
			}

			&.right-control {
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( 90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 6px 6px 10px;
				}
			}

			i {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: flex;
				border: 0 solid #000;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				line-height: 1;
				box-sizing: content-box;
			}

			&:hover {
				opacity: 1;

				i {
					border-width: 5px;
				}
			}

		}

		.slider-indicators {
			position: absolute;
			list-style: none;
			width: 30%;
			margin: 0 auto;
			padding: 0 0 15px;
			text-align: center;
			align-self: flex-end;
			z-index: 25;

			.indicator-dot {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin: 8px;
				width: 32px;

				img {
					@include prefix( transition, all .2s ease-in-out, o moz webkit );
					width: 16px;
					height: 16px;
					border: 2px solid #000;
					border-radius: 100%;
					
					&:hover {
						width: 32px;
						height: 32px;
						border-color: #cc0000;
					}
				}

				&.active {

					img {
						border-color: #0300cc;
					}
				}

			}
		}

		.wonka-slider-images {
			@include prefix( transition, all .2s ease-in-out, o moz webkit );
 			overflow: hidden;
			list-style: none;
			display: block;
			max-height: 500px;
			width: 800px;
			text-align: center;
			margin: 0 auto;
			padding: 0;

			.wonka-slider-item {
				@include prefix( transition, all .3s ease-in-out, o moz webkit );
				display: none;

				&.active {
					display: inline-block;
					position: relative;
				}

				&.previous {
					display: inline-block;
					position: relative;
					right: 110%;
				}

				&.next {
					display: inline-block;
					position: relative;
					left: 110%;
				}

				&.slide-right {
					left: 0;
				}

				&.slide-left {
					right: 0;
				}
			}
		}
		
	}
	/**
	 * End Slider
	 */
}

body:not(.home) #primary {
	margin-top: 0;
}

.keep-word {
	text-transform: uppercase;
	font-family: $font__opsanbold;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * Featured-items
 */
#featured-items-section {
 	overflow: hidden;
 	margin: 0 auto;
 	padding: 0;

	/**
	 * Slider
	 */
	.wonka-slider-wrap {
		position: relative;
		display: flex;
		justify-content: center;

		.control-btn {
			@include font-size(2.5);
			opacity: .3;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;

			&.left-control {
				left: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( -90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 12px 6px 6px;
				}
			}

			&.right-control {
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( 90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 6px 6px 10px;
				}
			}

			i {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: flex;
				border: 0 solid #000;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				line-height: 1;
				box-sizing: content-box;
			}

			&:hover {
				opacity: 1;

				i {
					border-width: 5px;
				}
			}

		}

		.slider-indicators {
			position: absolute;
			list-style: none;
			width: 30%;
			margin: 0 auto;
			padding: 0 0 15px;
			text-align: center;
			align-self: flex-end;
			z-index: 25;

			.indicator-dot {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin: 8px;
				width: 32px;

				img {
					@include prefix( transition, all .2s ease-in-out, o moz webkit );
					width: 16px;
					height: 16px;
					border: 2px solid #000;
					border-radius: 100%;
					
					&:hover {
						width: 32px;
						height: 32px;
						border-color: #cc0000;
					}
				}

				&.active {

					img {
						border-color: #0300cc;
					}
				}

			}
		}

		.wonka-slider-images {
			@include prefix( transition, all .2s ease-in-out, o moz webkit );
 			overflow: hidden;
			list-style: none;
			display: block;
			max-height: 500px;
			width: 800px;
			text-align: center;
			margin: 0 auto;
			padding: 0;

			.wonka-slider-item {
				@include prefix( transition, all .3s ease-in-out, o moz webkit );
				display: none;

				&.active {
					display: inline-block;
					position: relative;
				}

				&.previous {
					display: inline-block;
					position: relative;
					right: 110%;
				}

				&.next {
					display: inline-block;
					position: relative;
					left: 110%;
				}

				&.slide-right {
					left: 0;
				}

				&.slide-left {
					right: 0;
				}
			}
		}
		
	}
	/**
	 * End Slider
	 */
}
/**
 * End Featured-items
 */

#content {
	padding-bottom: 250px;
}

#colophon {
	background: #000000;
	color: #fff;
	height: 250px;
	min-height: 250px;
	bottom: 0;
	position: absolute;

	> .row {
		position: relative;
		overflow: hidden;
		height: 100%;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			border: 255px solid transparent;
			border-right: 805px solid #561223;
			box-sizing: border-box;
		}
	}

	ul {
		list-style: none;
	}

	li {
	    padding: 8px 0;
	}

	.footer-center  {
		height: 100%;

		> .row:nth-child(1) {
			align-items: center;
			justify-content: center;
			align-self: flex-start;

		}

		> .row:nth-child(2) {
			align-items: center;
			justify-content: center;
			align-self: center;

		}

		> .row:nth-child(3) {
			align-items: center;
			justify-content: center;
			align-self: flex-end;

			.copy-wrap {
				padding: 15px;
			}
			small {
				padding: 15px 0;
			    display: inline-block;
				line-height: 1.1;
			}
		}
	}


	.footer-right > .row {
		align-items: center;
		justify-content: flex-end;
	}

	span.circle-icon {
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .6 ), webkit moz o );
		@include font-size(1);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 0 4px;
		padding: 0;
		width: 25px;
		height: 25px;
		background: #fff;
		border-radius: 50%;

	    i.fa {
	    	color: #561223;
	    }
	}

	.footer-right > .design-cred {
		min-height: 55%;
		align-items: flex-end;
	}

	h3.font-upper {
		@include font-size(1.25);
		font-family: $font__opsansemibold;
	}

	.footer-section {
		border: none;
		padding: 25px;

	}

}