.sticky {
	display: block;
}

.separator {
	height: 26px;
	border-right: 2px solid #fff;
	@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .8 ), o moz webkit );
}

#page {
	position: relative;
	min-height: 100%;
}

/**
 * Header 
 */
#masthead {
	position: relative;
	height: 140px;
	background: url('./assets/img/header-bg.jpg');
	background-position: center top;
	z-index: 100;
	border-bottom: 1px solid rgba( #000, .6 );
	@include prefix( box-shadow, 0 1px 6px 0 rgba( #000, .5 ), o moz webkit );

	> .row {
		margin-top: 15px;
	}

	a, i {
		color: #fff;
	}

	#primary-menu {
		@include font-size(1);
	}

	.menu-bar {
		position: relative;
		height: 100%;

		> .row {
			position: relative;
			height: 100%;

			> div:first-of-type {
				height: 100%;
			}
		}

		.search-form-top {
			position: absolute;
			top: 100%;
			@include prefix( transition, all .2s ease-in-out, o moz webkit );

			.search-input-wrap {
				display: inline-flex;
				width: 100%;
				input[type="text"] {
					display: none;
					opacity: 0;
					background: #edf1f5;
					border: 1px solid #555555;
					border-radius: 0;
					width: 100%;
					@include prefix( transition, all .2s ease-in-out, o moz webkit );

					&.searchable {
						opacity: 1;
					}
				}

				#search-btn {
					@include prefix( transition, all .2s ease-in-out, o moz webkit );
					@include prefix( text-shadow, 1px 1px 2px rgba( #000, .8 ), o moz webkit );
					position: absolute;
					top: -135px;
					right: 25px;
					color: #fff;
					background: transparent;
					padding: 8px;
					border: 1px solid transparent;
				}
			}
		}

	}
	
	.custom-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		.site-logo {
			max-width: 325px;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px;
			background: #fff;                                                                               
			border-radius: 50%;
			height: 150px;
			width: 150px;
			@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .9), webkit moz o );
		}

		a {
			display: inline-block;
		}
	}

	@include media-breakpoint-up( lg ) {
		display: flex;
		align-items:flex-end;

		#primary-menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-transform: uppercase;
			@include font-size(1);
		}

		.menu-bar {

			> .row {
				align-items: flex-end;
				position: relative;
				padding-bottom: 15px;

				> div:first-of-type {
					height: 34px;
				}
			}

			.search-form-top {
				position: relative;
				top: 0;
				
				.search-input-wrap {

					input[type="text"] {
						display: inline-block;
						opacity: 1;
					}

					#search-btn {
						position: relative;
						top: 0;
						right: 0;
						background: #333333;
						border: 1px solid #555555;
					}
				}
			}
		}
	} // End Media Query
}

/**
 * End Header
 */

#backdrop {
	position: absolute;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 70%;
}

#primary {
	margin-top: 50px;
	position: relative;
	min-height: 425px;
	overflow: hidden;

	/**
	 * Slider
	 */
	.wonka-slider-wrap {
		position: relative;
		display: flex;
		justify-content: center;
		height: 130px;

		.control-btn {
			@include font-size(2.5);
			opacity: .3;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;

			&.left-control {
				left: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( -90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 12px 6px 6px;
				}
			}

			&.right-control {
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( 90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 6px 6px 10px;
				}
			}

			i {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: flex;
				border: 0 solid #000;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				line-height: 1;
				box-sizing: content-box;
			}

			&:hover {
				opacity: 1;

				i {
					border-width: 5px;
				}
			}

		}

		.slider-indicators {
			position: absolute;
			list-style: none;
			width: 100%;
			margin: 0 auto;
			padding: 0;
			text-align: center;
			align-self: flex-end;
			z-index: 25;

			.indicator-dot {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 50px;

				img {
					@include prefix( transition, all .2s ease-in-out, o moz webkit );
					width: 25px;
					height: 25px;
					border: 2px solid #000;
					border-radius: 100%;
					
					&:hover {
						width: 50px;
						height: 50px;
						border-color: #cc0000;
					}
				}

				&.active {

					img {
						border-color: #0300cc;
					}
				}

			}
		}

		.wonka-slider-images {
			@include prefix( transition, all .2s ease-in-out, o moz webkit );
 			overflow: hidden;
			list-style: none;
			display: block;
			max-height: calc( 100% - 30px );
			width: 100%;
			text-align: center;
			margin: 0 auto;
			padding: 0;

			.wonka-slider-item {
				@include prefix( transition, all .3s ease-in-out, o moz webkit );
				display: none;

				&.active {
					display: inline-block;
					position: relative;
				}

				&.previous {
					display: inline-block;
					position: relative;
					right: 110%;
				}

				&.next {
					display: inline-block;
					position: relative;
					left: 110%;
				}

				&.slide-right {
					left: 0;
				}

				&.slide-left {
					right: 0;
				}
			}
		}

		@include media-breakpoint-up( sm ) {
			height: 190px;
		}

		@include media-breakpoint-up( md ) {
			height: 245px;
		}

		@include media-breakpoint-up( lg ) {
			height: 375px;
		}
	}
	/**
	 * End Slider
	 */
}

body:not(.home) #primary {
	margin-top: 15px;
}

.keep-word {
	text-transform: uppercase;
	font-family: $font__opsanbold;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * Featured-items
 */
#featured-items-section {
 	overflow: hidden;

	/**
	 * Slider
	 */
	.wonka-slider-wrap {
		position: relative;
		display: flex;
		justify-content: center;
		height: 130px;

		.control-btn {
			@include font-size(2.5);
			opacity: .3;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;

			&.left-control {
				left: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( -90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 12px 6px 6px;
				}
			}

			&.right-control {
				right: 0;
				top: 0;
				bottom: 0;
				background: linear-gradient( 90deg, rgba( #000, 0) 0%, rgba( #000, .3) 100%);

				i {
					padding: 10px 6px 6px 10px;
				}
			}

			i {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: flex;
				border: 0 solid #000;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				line-height: 1;
				box-sizing: content-box;
			}

			&:hover {
				opacity: 1;

				i {
					border-width: 5px;
				}
			}

		}

		.slider-indicators {
			position: absolute;
			list-style: none;
			width: 100%;
			margin: 0 auto;
			padding: 0;
			text-align: center;
			align-self: flex-end;
			z-index: 25;

			.indicator-dot {
				@include prefix( transition, all .2s ease-in-out, o moz webkit );
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 50px;

				img {
					@include prefix( transition, all .2s ease-in-out, o moz webkit );
					width: 25px;
					height: 25px;
					border: 2px solid #000;
					border-radius: 100%;
					
					&:hover {
						width: 50px;
						height: 50px;
						border-color: #cc0000;
					}
				}

				&.active {

					img {
						border-color: #0300cc;
					}
				}

			}
		}

		.wonka-slider-images {
			@include prefix( transition, all .2s ease-in-out, o moz webkit );
 			overflow: hidden;
			list-style: none;
			display: block;
			max-height: calc( 100% - 30px );
			width: 100%;
			text-align: center;
			margin: 0 auto;
			padding: 0;

			.wonka-slider-item {
				@include prefix( transition, all .3s ease-in-out, o moz webkit );
				display: none;

				&.active {
					display: inline-block;
					position: relative;
				}

				&.previous {
					display: inline-block;
					position: relative;
					right: 110%;
				}

				&.next {
					display: inline-block;
					position: relative;
					left: 110%;
				}

				&.slide-right {
					left: 0;
				}

				&.slide-left {
					right: 0;
				}
			}
		}
		
		@include media-breakpoint-up( sm ) {
			height: 190px;
		}

		@include media-breakpoint-up( md ) {
			height: 245px;
		}

		@include media-breakpoint-up( lg ) {
			height: 375px;
		}
	}
	/**
	 * End Slider
	 */
}
/**
 * End Featured-items
 */

#content {
	padding-bottom: 615px;

	@include media-breakpoint-up( md ) {
		padding-bottom: 265px;
	}
}

#colophon {
	background: #000000;
	color: #fff;
	height: 600px;
	bottom: 0;
	position: absolute;

	> .row {
		position: relative;
		overflow: hidden;
		height: 100%;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			border: 600px solid transparent;
			border-right: 400px solid #561223;
		}
	}

	ul {
		list-style: none;
	}

	li {
	    padding: 8px 0;
	}

	.footer-center  {

		> .row:nth-child(1) {
			align-items: center;
			justify-content: center;
			align-self: flex-start;

		}

		> .row:nth-child(2) {
			align-items: center;
			justify-content: center;
			align-self: center;

		}

		> .row:nth-child(3) {
			align-items: center;
			justify-content: center;
			align-self: flex-end;

			.copy-wrap {
				padding: 15px;
			}
			small {
				padding: 15px 0;
			    display: inline-block;
				line-height: 1.1;
			}
		}
	}


	.footer-right > .row {
		align-items: center;
		justify-content: flex-end;
	}

	span.circle-icon {
		@include prefix( box-shadow, 0 1px 6px 0 rgba( 0, 0, 0, .6 ), webkit moz o );
		@include font-size(1);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 0 4px;
		padding: 0;
		width: 25px;
		height: 25px;
		background: #fff;
		border-radius: 50%;

		a {
			width: 25px;
			height: 25px;
		}

	    i.fa {
	    	width: 25px;
	    	height: 25px;
	    	color: #561223;
	    }
	}

	.footer-right > .design-cred {
		min-height: 55%;
		align-items: flex-end;
	}

	h3.font-upper {
		@include font-size(1.25);
		font-family: $font__opsansemibold;
	}

	.footer-section {
		border: none;
		padding: 25px;

	}

	@include media-breakpoint-up( md ) {
		height: 250px;
		bottom: 0;

		> .row {

			&:before {
				border: 250px solid transparent;
				border-right: 450px solid #561223;

			}
		}
	}

	@include media-breakpoint-up( lg ) {
		> .row {

			&:before {
				border: 250px solid transparent;
				border-right: 650px solid #561223;

			}
		}
	}

	@include media-breakpoint-up( xl ) {
		> .row {

			&:before {
				border: 250px solid transparent;
				border-right: 950px solid #561223;

			}
		}
	}

}